.edui-default .edui-for-cloudfile .edui-icon {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 5px solid #8d8d8d;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: "";
    _overflow: hidden;
    margin-top: 7px;
}
.edui-default .edui-toolbar .edui-for-cloudfile{
    width: 22px;
    text-align: center;
}
.edui-toolbar .edui-for-cloudfile .edui-menubutton-body{
    height: 20px;
}
